:root {
  --cell-size: 64px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #000;
  font-size: 16px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  background-color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: none;
}

.controls {
  text-align: center;
  margin: 50px 0 0 0;
}

.score-board {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 10px 0;
  text-align: center;
  color: white;
  display: flex;
  gap: 0;
  justify-content: center;
  text-transform: uppercase;
}

.score-current, .score-high {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
  
}

.score-current span, .score-high span {
  background: rgba(0, 0, 0, 0.4);
  min-width: 100px;
  text-align: right;
  color: white;
  padding: 7px 10px;
  margin: 0 15px 0 0;
}

.score-current span {
  margin: 0 0 0 15px;
  text-align: left;
}

.score-high {
  background-color: rgb(91, 26, 26);
  border-radius: 0 7px 7px 0;
}

.score-current {
  color: black;
  padding: 0 0 0 10px;
  background-color: #7eb181;
  border-radius: 7px 0 0 7px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.cell {
  position: relative;
}

.cell.selected::before {
  content: '';
  display: block;
  border: 4px;
  border-radius: 32px;
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  opacity: 0.9;
  position: absolute;
}

.cell.selected-yellow::before {
  border-color: #ff0;
  border-style: solid;
}

.cell.selected-green::before {
  border-color: #0f0;
  border-style: dashed;
}

.cell.selected-red::before {
  border-color: #f00;
  border-style: dashed;
}

.board.prairie {
  --map-tile-top-left-url: url('../img/prairie/map-tile-top-left.png');
  --map-tile-top-url: url('../img/prairie/map-tile-top.png');
  --map-tile-top-right-url: url('../img/prairie/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/prairie/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/prairie/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/prairie/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/prairie/map-tile-left.png');
  --map-tile-right-url: url('../img/prairie/map-tile-right.png');
  --map-tile-center-url: url('../img/prairie/map-tile-center.png');
}

.board.desert {
  --map-tile-top-left-url: url('../img/desert/map-tile-top-left.png');
  --map-tile-top-url: url('../img/desert/map-tile-top.png');
  --map-tile-top-right-url: url('../img/desert/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/desert/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/desert/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/desert/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/desert/map-tile-left.png');
  --map-tile-right-url: url('../img/desert/map-tile-right.png');
  --map-tile-center-url: url('../img/desert/map-tile-center.png');
}

.board.arctic {
  --map-tile-top-left-url: url('../img/arctic/map-tile-top-left.png');
  --map-tile-top-url: url('../img/arctic/map-tile-top.png');
  --map-tile-top-right-url: url('../img/arctic/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/arctic/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/arctic/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/arctic/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/arctic/map-tile-left.png');
  --map-tile-right-url: url('../img/arctic/map-tile-right.png');
  --map-tile-center-url: url('../img/arctic/map-tile-center.png');
}

.board.mountain {
  --map-tile-top-left-url: url('../img/mountain/map-tile-top-left.png');
  --map-tile-top-url: url('../img/mountain/map-tile-top.png');
  --map-tile-top-right-url: url('../img/mountain/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/mountain/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/mountain/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/mountain/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/mountain/map-tile-left.png');
  --map-tile-right-url: url('../img/mountain/map-tile-right.png');
  --map-tile-center-url: url('../img/mountain/map-tile-center.png');
}

.map-tile {
  width: var(--cell-size);
  height: var(--cell-size);
}

.map-tile-top-left {
  background: var(--map-tile-top-left-url);
}

.map-tile-top {
  background: var(--map-tile-top-url);
}

.map-tile-top-right {
  background: var(--map-tile-top-right-url);
}

.map-tile-bottom-left {
  background: var(--map-tile-bottom-left-url);
}

.map-tile-bottom {
  background: var(--map-tile-bottom-url);
}

.map-tile-bottom-right {
  background: var(--map-tile-bottom-right-url);
}

.map-tile-left {
  background: var(--map-tile-left-url);
}

.map-tile-right {
  background: var(--map-tile-right-url);
}

.map-tile-center {
  background: var(--map-tile-center-url);
}

.character {
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  z-index: 99;
}

.character.generic {
  background: url('../img/characters/generic.png');
}

.character.bowman {
  background: url('../img/characters/bowman.png');
}

.character.daemon {
  background: url('../img/characters/daemon.png');
}

.character.magician {
  background: url('../img/characters/magician.png');
}

.character.swordsman {
  background: url('../img/characters/swordsman.png');
}

.character.undead {
  background: url('../img/characters/undead.png');
}

.character.vampire {
  background: url('../img/characters/vampire.png');
}

.character.zombie {
  background: url('../img/characters/zombie.png');
}

.health-level {
  top: 2px;
  left: 7px;
  position: absolute;
  width: 50px;
  height: 4px;
  background: #000;
}

.health-level-indicator {
  height: 4px;
}

.health-level-indicator-high {
  background: #0f0;
}

.health-level-indicator-normal {
  background: #ff0;
}

.health-level-indicator-critical {
  background: #f00;
}

.damage {
  position: absolute;
  width: var(--cell-size);
  text-align: center;
  z-index: 999;
  color: #f00;
  font-weight: bold;
  animation: 500ms fade ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
    top: calc(var(--cell-size) * 0.5);
    font-size: 1rem;
  }
  to {
    opacity: 1;
    top: -20px;
    font-size: 1.5rem;
  }
}

.modal-container {
  font-family: Tahoma, sans-serif;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.modal-error, .modal-info {
  width: 400px;
  border-radius: 10px;
  background-color: white;
}

.modal-error .modal-title {
  background-color:rgb(91, 26, 26);
}

.modal-info .modal-title {
  background-color: rgb(174, 174, 60);
}

.modal-title {
  border-radius: 5px 5px 0 0;
  color: white;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 20px 10px 20px;
  border-bottom: 3px solid black;
  box-shadow: 0 2px 5px black;
}

.modal-content {
  text-align: left;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding: 10px 20px 0 20px;
  color: black;
}

.modal-confirm {
  margin: 15px;
  padding: 7px 20px;
}

.modal-confirm:hover {
  cursor: pointer;
}